body {
    display: flex;
    flex-direction: column;
    font-family: 'Libre Baskerville', serif;
}
header {
    padding-top: 15px;
    background-image: url("../images/header.png");
}
.header__container {
    position: relative;
}
/* description of images in the header */
.header__container .boy {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 90%;
}
.header__container .airplane {
    opacity: 0.6;
    width: 170px;
    position: absolute;
    right: 35%;
    bottom: 40%;
}
.header__container .star1 {
    position: absolute;
    width: 30px;
    right: 0;
    bottom: 46%;
}
.header__container .star2 {
    position: absolute;
    width: 40px;
    right: 30%;
    bottom: 74%;
    opacity: 0.8;
}
.header__container .star3 {
    position: absolute;
    width: 50px;
    right: 35%;
    bottom: 25%;
    opacity: 0.8;
}
/* description of strings in the header*/
.header__container .tagline {
    color: dimgrey;
    padding-top: 30px;
}
.header__container .tagline p:nth-of-type(1),
.header__container .tagline p:nth-of-type(2) {
    font-style: italic;
    text-shadow: 2px 2px 3px lightblue;
}
.header__container .tagline p:nth-of-type(2) {
    text-indent: 50px;
    font-size: x-large;
}
.header__container .tagline p:nth-of-type(3) {
    font-family: 'Acme', sans-serif;
    color: mintcream;
    font-size: 500%;
    font-weight: bold;
    text-shadow: 2px 2px 3px gray;
}
.header__container .tagline p:nth-of-type(4) {
    display: inline-block;
    font-size: small;
    box-shadow: 0 0 10px lightblue;
}
/* description of round images */
.main__container_menu img {
    float: left;
    padding-right: 30px;
    padding-bottom: 30px;
}
.main__container_menu h2,
.main__container_menu a,
.main__container_content_information h3,
.main__container_content_information h6,
.main__container_last-events h4,
.main__container_last-events h6 {
    font-family: 'Acme', sans-serif;
}
.main__container_menu h2,
.main__container_content_information h3,
.main__container_last-events h4 {
    color: dimgrey;
    text-shadow: 2px 2px 3px lightgray;
}
.main__container_content_information h6,
.main__container_menu a,
.main__container_last-events h6,
.main__container_last-events .col.tweets p::first-line {
    color: darkturquoise;
}
.main__container_content_information h6,
.main__container_last-events h6 {
    font-size: larger;
    box-shadow: 0 0 10px lightgray;
    border-top: dotted lightgray;
    border-bottom: dotted lightgray;
}
/* description of expanding div */
input.SReadMoreRadio,
input.SReadMoreRadio + label + div,
input.SReadMoreRadio:checked + label,
input.SReadMoreRadio + label + div + input + label {
    display: none;
}
input.SReadMoreRadio:checked + label + div,
.main__container_last-events input {
    display: block;
}
input.SReadMoreRadio:checked + label + div + input + label {
    display: inline-block;
}
/* description of buttons */
input.SReadMoreRadio + label,
.main__container_last-events input,
input.SReadMoreRadio:checked + label + div + input + label {
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    background-color: darkturquoise;
    border-radius: 3px;
    border: 0;
    box-shadow: 2px 2px 5px gray;
    padding: 5px;
}
/* description of the calendar */
.main__container_content_calendar {
    padding-top: 15px;
}
.main__container_content_calendar iframe {
    border-width: 3px !important;
}
/* description of text carousel */
.main__container-fluid_carousel {
    min-height: 67px;
    margin: 10px 0;
    padding: 5px 0;
    background-color: lightgray;
}
.main__container-fluid_carousel .carousel p {
    margin-bottom: 0;
    padding: 0 25px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    text-shadow: whitesmoke 2px 1px 1px;
}
.main__container-fluid_carousel .carousel-control-prev {
    padding-right: 80px;
}
.main__container-fluid_carousel .carousel-control-next {
    padding-left: 80px;
}
.main__container_last-events span {
    color: dimgray;
    font-size: smaller;
    font-style: italic;
    font-weight: bolder;
}
.main__container_last-events p {
    color: grey;
    font-size: smaller;
}
.main__container_last-events .tweets p,
.main__container_last-events .tweets time {
    padding-left: 50px;
}
.main__container_last-events .tweets img {
    float: left;
    opacity: 0.5;
    width: 40px;
}
.main__container_last-events .tweets input {
    margin-left: 50px;
}
.main__container_last-events .tweets .twitter-timeline.twitter-timeline-rendered {
    height: 500px !important;
}
/* gray div with quotes description */
.main__container_last-events .people-say p {
    background-color: lightgray;
    padding: 5px;
    border-radius: 10px;
}
.main__container_last-events .people-say p img {
    width: 50px;
    opacity: 0.5;
}
.main__container_last-events .people-say p img:nth-of-type(1) {
    float: left;
}
.main__container_last-events .people-say p img:nth-of-type(2) {
    transform: rotate(-180deg);
    float: right;
}
.main__container_last-events .people-say .clearfix:after {
    content: '';
    visibility: hidden;
    display: block;
}
.main__container_last-events .people-say span {
    color: grey;
    background-color: darkgrey;
    font-size: smaller;
    font-weight: bold;
    border-radius: 10px;
    display: block;
    text-align: center;
}
/* description of social nets logo */
.main__container_last-events .people-say .social-net {
    padding-top: 5px;
    text-align: center;
}
.main__container_last-events .people-say .social-net .net {
    width: 40px;
}
@media (max-width: 991.98px) {
    .header__container .boy {
        height: 58%;
    }
    .header__container .airplane {
        bottom: 60%;
    }
    .header__container .star1 {
        bottom: 70%;
        width: 45px;
    }
    .header__container .star2 {
        right: 23%;
        bottom: 81%;
    }
    .header__container .star3 {
        width: 59px;
        right: 45%;
        bottom: 45%;
    }
}
@media (max-width: 767.98px) {
    .header__container .boy,
    .footer__container_content .blog-posts,
    .footer__container_content .photo-stream {
        display: none;
    }
    .header__container .airplane {
        bottom: 43%;
        width: 130px;
        right: 16%;
    }
    .header__container .star3 {
        right: 8%;
        bottom: 17%;
    }
    .main__container_menu img {
        padding-bottom: 0;
    }
    .main__container_content_information {
        flex: none;
        max-width: 100%;
    }
    .main__container_content_information p,
    .main__container_content_information div,
    .main__container_last-events p {
        text-align: justify;
    }
    .main__container_last-events .tweets p,
    .main__container_last-events .tweets time {
        padding-left: 0;
    }
    .main__container_last-events .tweets input {
        margin-left: 0;
    }
    .main__container_last-events .tweets img {
        width: 20px;
    }
    .main__container_last-events .people-say p img {
        width: 35px;
    }
}
@media (max-width: 575.98px) {
    .header__container .airplane,
    .header__container .star1,
    .header__container .star2,
    .header__container .star3,
    .header__container .tagline,
    .main__container_menu img,
    .main__container-fluid_carousel,
    .main__container_last-events .tweets {
        display: none;
    }
    .main__container_menu h2 {
        color: coral;
        font-size: x-large;
    }
}
@media (max-width: 419px) {
    .main__container_content_calendar {
        display: none;
    }
    /* for vertical layout 'news' button and 'people say' buttons */
    .main__container_last-events .row .col {
        flex-basis: unset;
    }
    /* for vertical layout of social nets logo */
    .main__container_last-events .row .people-say .social-net .col {
        flex-basis: 0;
    }
    .main__container_last-events .people-say {
        padding-top: 15px;
    }
}